<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatchr</title>
  <script src="/js/main.js"></script>
</head>
<body>
  <h1>Birds of NY</h1>
  <a href="/sightings/new">Spotted a bird?</a>
</body>
</html>

